<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

</head>
<body>
<h1 style="color: green;">
    GeeksForGeeks
</h1>
<h3>DataTables Searching Option</h3> <!--HTML table with student data-->
</body></html>

